/****************************/
.how-it-works {
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.how-it-works::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 193, 7, 0.6), rgba(255, 255, 255, 0));
    animation: about_wave 5s linear infinite;
    z-index: 0; /* Place behind the content */
}

.how-it-works > * {
  position: relative;
  z-index: 1; /* Ensure content is above the animation */
}

@keyframes about_wave {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.how-it-works-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.how-it-works h1{
  text-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: underline #ffc107;
}

.how-it-works .card {
  max-width: 250px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  color:rgba(0, 0, 0, 0.8);
  text-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}

.how-it-works .card:nth-of-type(1){
  background-image: url('../img/img1.jpg');
}

.how-it-works .card:nth-of-type(2){
  background-image: url('../img/img8.jpg');
}

.how-it-works .card:nth-of-type(3){
  background-image: url('../img/img4.jpg');
}

.how-it-works .card:nth-of-type(4){
  background-image: url('../img/img3.jpg');
}

.how-it-works .card:nth-of-type(5){
  background-image: url('../img/img10.jpg');
}

.how-it-works .card:nth-of-type(6){
  background-image: url('../img/img2.jpg');
}

.how-it-works .card:nth-of-type(7){
  background-image: url('../img/img11.jpg');
}

.how-it-works .card h4{
  color:white
}

.how-it-works .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.how-it-works .card img {
display: block; 
margin: 0 auto;
width: 100px;
height: 100px;
margin-bottom: 10px;
border-radius: 50%;
}

/*************************************************************/

.about-us {
  background-color: #f8f9ff;/*  Light gray background */
  /*background-color: #ffffff;  White background */
  padding: 50px 0;
}

.about-us .section-title {
  /*color: #ffc107;  Gold Section Title */
  margin-bottom: 20px;
  font-size: 2rem;
}

.about-us p {
  line-height: 1.6;
  color: #343a40; /* Dark gray text */
}

.about-us .btn-outline-warning {
    
    border-color: #ffc107;
    background-color: #ffc107;
    color: #212529;
}

.about-us .btn-outline-warning:hover {
  background-color: white;
    border-color: #ffc107;
    color: #ffc107;
}
