
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

section {
    margin-bottom: 2rem;
}

/* Review Form Styles */
#review-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#review-form h2 {
    color: #ffc107;
    text-align: center;
    margin-bottom: 20px;
}

#review-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#review-form input[type="text"],
#review-form input[type="number"],
#review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Important: Keeps padding and border within the element's total width */
    font-size: 16px;
}

#review-form textarea {
    resize: vertical;
    /* Allow vertical resizing of the textarea */
    height: 120px;
}

#response {
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03); /* Very light background */
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.08); /* Very light border */
    text-align: center;
    font-size: 1rem;
    color: #343a40;
    animation: fadeIn 0.5s ease-in-out;
}

#review-form button[type="submit"] {
    background-color: #ffc107;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#review-form button[type="submit"]:hover {
    background-color: #f0b200;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.testimonial {
    animation: fadeIn 0.5s ease both;
}

/* Add a slight delay to each testimonial for a staggered effect */
.testimonial:nth-child(2) {
    animation-delay: 0.2s;
}

.testimonial:nth-child(3) {
    animation-delay: 0.4s;
}

.testimonial:nth-child(4) {
    animation-delay: 0.6s;
}


/* Keyframes for rotating card */
@keyframes rotateCard {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Apply keyframes to testimonial on hover */
.testimonial:hover {
    animation: rotateCard 2s linear forwards;
}
